body{
    margin: 0;
    padding: 0;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/291/819/697/illustration-city-anime-painting-wallpaper-preview.jpg);
    background-position: 100%;
    background-size: cover;
}